// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	display_bl: backlight {
		compatible = "pwm-backlight";
		power-supply = <&reg_dsi_panel>;
		pwms = <&reg_backlight 0 255 0>;
	};

	reg_dsi_panel: regulator-dsi-panel {
		compatible = "regulator-fixed";
		regulator-name = "rpi-dsi-panel";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&hdmi_connector {
	status = "disabled";
};

&lt9611uxd {
	status = "disabled";
};

&i2c1 {
	i2c-mux@70 {
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;

			reg_backlight: reg_backlight@45 {
				compatible = "raspberrypi,touchscreen-panel-regulator-v2";
				reg = <0x45>;
				//vcc-supply = <&vreg_bridge_3p3>;

				gpio-controller;
				#gpio-cells = <2>;
				#pwm-cells = <3>;
			};
		};
	};
};

&mdss0_dsi0 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "raspberrypi,dsi-7inch";
		reg = <0>;

		reset-gpios = <&reg_backlight 0 GPIO_ACTIVE_LOW>;
		power-supply = <&reg_dsi_panel>;
		backlight = <&display_bl>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss0_dsi0_out>;
			};
		};
	};
};

&mdss0_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1>;
};
