// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include "lemans-draco-evk-som.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Lemans Draco EVK";
	compatible = "qcom,lemans-draco-evk", "qcom,lemans-draco-evk-som", "qcom,qcs9100",
		     "qcom,sa8775p";
	chassis-type = "embedded";

	aliases {
		serial1 = &uart17;
	};

	vreg_0p9: regulator-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "VREG_0P9";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vreg_1p8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VREG_1P8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vreg_keye_3p3: regulator-keye-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_keye_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	wifi-bt-connector {
		compatible = "pcie-m2-e-connector";
		vpcie3v3-supply = <&vreg_keye_3p3>;
		w-disable2-gpios = <&pmm8654au_1_gpios 8 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_pcie_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&tc9563_pcie1_ep>;
				};
			};

			port@3 {
				reg = <3>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_uart_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&uart17_ep>;
				};
			};
		};
	};

	/* 3.3 V rail for LT9611UXD VCC, enabled via IOExp U422 (0x22) port 3 -> EN switch */
	vreg_lt9611_3p3: regulator-lt9611-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_lt9611_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&expander2 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

        vreg_lt9611_1p2: regulator-lt9611-1p2 {
                compatible = "regulator-fixed";
                regulator-name = "vreg_lt9611_1p2";
                regulator-min-microvolt = <1200000>;
                regulator-max-microvolt = <1200000>;
                gpio = <&expander2 1 GPIO_ACTIVE_HIGH>;
                enable-active-high;
        };

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt9611uxd_out>;
			};
		};
	};
};

/*
 * QUPV3_0_SE1 (gpio24/25) hosts the i2c-mux TCA9548A at 0x70.
 * Channel 1 (0-indexed) connects to LT9611UXD @ 0x41.
 */
&i2c1 {
	status = "okay";

	i2c-mux@70 {
		compatible = "nxp,pca9548";
		reg = <0x70>;
		#address-cells = <1>;
		#size-cells = <0>;
		vcc-supply = <&vreg_s4a>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			lt9611uxd: hdmi-bridge@41 {
				compatible = "lontium,lt9611uxd";
				reg = <0x41>;

				reset-gpios = <&tlmm 39 GPIO_ACTIVE_LOW>;
				interrupts-extended = <&tlmm 97 IRQ_TYPE_EDGE_FALLING>;

				vcc-supply = <&vreg_lt9611_3p3>;
				vdd-supply = <&vreg_lt9611_1p2>;

				pinctrl-0 = <&lt9611_rst_pin &lt9611_irq_pin>;
				pinctrl-names = "default";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					/* DSI0 input */
					port@0 {
						reg = <0>;
						lt9611uxd_in0: endpoint {
							remote-endpoint = <&mdss0_dsi0_out>;
						};
					};

					/* DSI1 input - disabled for single-DSI bringup, see &mdss0_dsi1
					 * port@1 {
					 *	reg = <1>;
					 *	lt9611uxd_in1: endpoint {
					 *		remote-endpoint = <&mdss0_dsi1_out>;
					 *	};
					 * };
					 */

					/* HDMI output */
					port@2 {
						reg = <2>;
						lt9611uxd_out: endpoint {
							remote-endpoint = <&hdmi_con>;
						};
					};
				};
			};
		};
	};
};

&i2c2 {
	status = "okay";

	/*
	 * U236: 16-bit GPIO expander (KTS1620EUAA-TR, TCA6416-compatible)
	 * Address 0x20 (A1=VDD, A2=A0=GND). Camera OCP power enables,
	 * USB power enables and detection signals.
	 * INT_N → EXP2_INT → SoC TLMM gpio22.
	 */
	expander0: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	/*
	 * U238: 16-bit GPIO expander (KTS1620EUAA-TR, TCA6416-compatible)
	 * Address 0x21 (A1=VDD, A0=VDD, A2=GND). USB2 power, PCIe power
	 * enables, display/SAL-ETH power enables.
	 * INT_N → EXP3_INT → SoC TLMM gpio22.
	 */
	expander1: gpio@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	/*
	 * U422: 16-bit GPIO expander (KTS1620EUAA-TR, TCA6416-compatible)
	 * Address 0x22 (A1=VDD, A2=A0=GND).
	 * INT_N → SoC TLMM gpio22.
	 * Port 3 drives LT9611UXD 3.3 V supply enable.
	 */
	expander2: gpio@22 {
		compatible = "ti,tca6416";
		reg = <0x22>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	/*
	 * U417: 16-bit GPIO expander (KTS1620EUAA-TR, TCA6416-compatible)
	 * Address 0x23 (A1=VDD, A0=VDD, A2=GND).
	 * INT_N → SoC TLMM gpio22.
	 */
	expander3: gpio@23 {
		compatible = "ti,tca6416";
		reg = <0x23>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	/*
	 * U445: 8-bit GPIO expander (TCA9534APWR, PCA9534-compatible)
	 * Address 0x38 (A2=A1=A0=GND, base 0x38). Camera MCLK enables on
	 * P0–P4; P5–P7 are unconnected test points.
	 * INT_N → IOEXP_INT → SoC TLMM gpio22.
	 */
	expander4: gpio@38 {
		compatible = "nxp,pca9534";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	eeprom@50 {
		compatible = "giantec,gt24c256c", "atmel,24c256";
		reg = <0x50>;
		pagesize = <64>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac_addr0: mac-addr@0 {
				reg = <0x0 0x6>;
			};
		};
	};
};

&tlmm {
	expander_int: expander-int-state {
		pins = "gpio22";
		function = "gpio";
		bias-pull-up;
		input-enable;
	};

	lt9611_irq_pin: lt9611-irq-state {
		pins = "gpio97";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	lt9611_rst_pin: lt9611-rst-state {
		pins = "gpio39";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	pcie0_default_state: pcie0-default-state {
		clkreq-pins {
			pins = "gpio1";
			function = "pcie0_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		perst-pins {
			pins = "gpio2";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio0";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	pcie1_default_state: pcie1-default-state {
		clkreq-pins {
			pins = "gpio3";
			function = "pcie1_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		perst-pins {
			pins = "gpio4";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio5";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	tc9563_resx_n: tc9563-resx-state {
		pins = "gpio10";
		function = "gpio";
		bias-disable;
		output-high;
	};
};

&i2c18 {
	status = "okay";

	/*
	 * U76: 8-bit GPIO expander (TCA9534APWR, PCA9534-compatible)
	 * Address 0x3c. M.2 Key-B & Key-E PCIe control.
	 * INT_N → EXP1_INT_N → TP150 (no SoC interrupt connection).
	 */
	expander5: gpio@3c {
		compatible = "nxp,pca9534";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&pcie0 {
	perst-gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 0 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&pcie0_default_state>;
	pinctrl-names = "default";

	iommu-map = <0x0 &pcie_smmu 0x0 0x0 0x1>,
		    <0x100 &pcie_smmu 0x1 0x0 0x1>,
		    <0x208 &pcie_smmu 0x2 0x0 0x1>,
		    <0x210 &pcie_smmu 0x3 0x0 0x1>,
		    <0x218 &pcie_smmu 0x4 0x0 0x1>,
		    <0x300 &pcie_smmu 0x5 0x0 0x1>,
		    <0x400 &pcie_smmu 0x6 0x0 0x1>,
		    <0x500 &pcie_smmu 0x7 0x0 0x1>,
		    <0x501 &pcie_smmu 0x8 0x0 0x1>;

	status = "okay";
};

&pcie0_phy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l1c>;
	vdda-qref-supply = <&vreg_l4a>;
	vdda-refgen-supply = <&vreg_l7a>;
	status = "okay";
};

&pcie1 {
	perst-gpios = <&tlmm 4 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 5 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&pcie1_default_state>;
	pinctrl-names = "default";
	status = "okay";
};

&pcie1_phy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l1c>;
	vdda-qref-supply = <&vreg_l4a>;
	vdda-refgen-supply = <&vreg_l7a>;
	status = "okay";
};

&pcieport0 {
	#address-cells = <3>;
	#size-cells = <2>;

	pcie@0,0 {
		compatible = "pci1179,0623";
		reg = <0x10000 0x0 0x0 0x0 0x0>;
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		ranges;
		bus-range = <0x2 0xff>;

		vddc-supply = <&vreg_0p9>;
		vdd18-supply = <&vreg_1p8>;
		vdd09-supply = <&vreg_0p9>;
		vddio1-supply = <&vreg_1p8>;
		vddio2-supply = <&vreg_1p8>;
		vddio18-supply = <&vreg_1p8>;
		i2c-parent = <&i2c18 0x77>;
		resx-gpios = <&tlmm 10 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&tc9563_resx_n>;
		pinctrl-names = "default";

		pcie@1,0 {
			reg = <0x20800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x3 0xff>;

			port {
				tc9563_pcie1_ep: endpoint {};
			};
		};

		pcie@2,0 {
			reg = <0x21000 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x4 0xff>;
		};

		pcie@3,0 {
			reg = <0x21800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x5 0xff>;

			pcie@0,0 {
				reg = <0x50000 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};

			pcie@0,1 {
				reg = <0x50100 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};
		};
	};
};

&tc9563_pcie1_ep {
	remote-endpoint = <&m2_e_pcie_ep>;
};

&mdss0 {
	status = "okay";
};

&mdss0_dsi0 {
	vdda-supply = <&vreg_l1c>;

	/* Dual-DSI (bonded) mode disabled for single-DSI bringup
	 * qcom,dual-dsi-mode;
	 * qcom,master-dsi;
	 */

	status = "okay";
};

&mdss0_dsi0_out {
        remote-endpoint = <&lt9611uxd_in0>;
        data-lanes = <0 1 2 3>;
};

&mdss0_dsi0_phy {
	vdds-supply = <&vreg_l4a>;

	status = "okay";
};

/* DSI1 disabled for single-DSI bringup
 * &mdss0_dsi1 {
 *	vdda-supply = <&vreg_l1c>;
 *
 *	qcom,dual-dsi-mode;
 *
 *	assigned-clock-parents = <&mdss0_dsi0_phy DSI_BYTE_PLL_CLK>,
 *				 <&mdss0_dsi0_phy DSI_PIXEL_PLL_CLK>;
 *
 *	status = "okay";
 * };
 *
 * &mdss0_dsi1_out {
 *	remote-endpoint = <&lt9611uxd_in1>;
 *	data-lanes = <0 1 2 3>;
 * };
 *
 * &mdss0_dsi1_phy {
 *	vdds-supply = <&vreg_l4a>;
 *
 *	status = "okay";
 * };
 */

&remoteproc_adsp {
	firmware-name = "qcom/sa8775p/adsp.mbn";
	iommus = <&apps_smmu 0x3000 0x0>;

	status = "okay";
};

&remoteproc_cdsp0 {
	firmware-name = "qcom/sa8775p/cdsp0.mbn";
	iommus = <&apps_smmu 0x21c0 0x0400>;

	status = "okay";
};

&remoteproc_cdsp1 {
	firmware-name = "qcom/sa8775p/cdsp1.mbn";
	iommus = <&apps_smmu 0x29c0 0x0400>;

	status = "okay";
};

&remoteproc_gpdsp0 {
	firmware-name = "qcom/sa8775p/gpdsp0.mbn";
	iommus = <&apps_smmu 0x38a0 0x0>;

	status = "okay";
};

&remoteproc_gpdsp1 {
	firmware-name = "qcom/sa8775p/gpdsp1.mbn";
	iommus = <&apps_smmu 0x38c0 0x0>;

	status = "okay";
};

&uart17 {
	status = "okay";

	port {
		uart17_ep: endpoint {
			remote-endpoint = <&m2_e_uart_ep>;
		};
	};
};
