// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include "lemans-draco-evk-som.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Lemans Draco EVK";
	compatible = "qcom,lemans-draco-evk", "qcom,lemans-draco-evk-som", "qcom,qcs9100",
		     "qcom,sa8775p";
	chassis-type = "embedded";
};

&i2c2 {
	status = "okay";

	expander0: gpio@20 {
		compatible = "ti,tca6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander1: gpio@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander2: gpio@22 {
		compatible = "ti,tca6416";
		reg = <0x22>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander3: gpio@23 {
		compatible = "ti,tca6416";
		reg = <0x23>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander4: gpio@38 {
		compatible = "nxp,pca9534";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	eeprom@50 {
		compatible = "giantec,gt24c256c", "atmel,24c256";
		reg = <0x50>;
		pagesize = <64>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac_addr0: mac-addr@0 {
				reg = <0x0 0x6>;
			};
		};
	};
};

&tlmm {
	expander_int: expander-int-state {
		pins = "gpio22";
		function = "gpio";
		bias-pull-up;
		input-enable;
	};
};

&i2c18 {
	status = "okay";

	expander5: gpio@3c {
		compatible = "nxp,pca9534";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};
