// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 */

#include <dt-bindings/gpio/gpio.h>

&{/} {
	cam_pwr_csi0: cam-pwr-csi0 {
		compatible = "regulator-fixed";
		regulator-name = "cam-pwr";
		startup-delay-us = <100000>;
		gpio = <&pca9555 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	cam_pwr_csi1: cam-pwr-csi1 {
		compatible = "regulator-fixed";
		regulator-name = "cam-pwr";
		startup-delay-us = <100000>;
		gpio = <&pca9555 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	clocks {
		cam24m: cam-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
			clock-output-names = "cam24m";
		};
	};
};

&cci_i2c0 {
	clock-frequency = <100000>;
	#address-cells = <1>;
	#size-cells = <0>;

	pca9555: gpio@26 {
		compatible = "nxp,pca9555";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};
