// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	display_bl: backlight {
		compatible = "pwm-backlight";
		power-supply = <&reg_dsi_panel>;
		pwms = <&reg_backlight 0 255 0>;
	};

	reg_dsi_panel: regulator-dsi-panel {
		compatible = "regulator-fixed";
		regulator-name = "rpi-dsi-panel";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};
};

&lt9611uxd {
	status = "disabled";
};

&{/hdmi-connector} {
	status = "disabled";
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;

	reg_backlight: reg_backlight@45 {
		compatible = "raspberrypi,touchscreen-panel-regulator-v2";
		reg = <0x45>;

		gpio-controller;
		#gpio-cells = <2>;
		#pwm-cells = <3>;
	};
};

&mdss_dsi0 {
	vdda-supply = <&pm4125_l5>;

	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "raspberrypi,dsi-7inch";
		reg = <0>;

		reset-gpios = <&reg_backlight 0 GPIO_ACTIVE_LOW>;
		power-supply = <&reg_dsi_panel>;
		backlight = <&display_bl>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1>;
};

&mdss_dsi0_phy {
	status = "okay";
};