// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	panel_avdd: regulator-panel-avdd {
		compatible = "regulator-fixed";
		regulator-name = "panel-avdd";
		gpios = <&wsgpio 0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	panel_iovcc: regulator-panel-iovcc {
		compatible = "regulator-fixed";
		regulator-name = "panel-iovcc";
		gpios = <&wsgpio 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	panel_vcc: regulator-panel-vcc {
		compatible = "regulator-fixed";
		regulator-name = "panel-vcc";
		gpios = <&wsgpio 8 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};
};

&lt9611uxd {
	status = "disabled";
};

&{/hdmi-connector} {
	status = "disabled";
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;

	wsgpio: gpio@45 {
		compatible = "waveshare,dsi-touch-gpio";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	touch: goodix@5d {
		compatible = "goodix,gt9271";
		reg = <0x5d>;
		reset-gpios = <&wsgpio 9 GPIO_ACTIVE_HIGH>;
	};
};

&mdss_dsi0 {
	vdda-supply = <&pm8150_l11>;

	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel@0 {
		compatible = "waveshare,8.0-dsi-touch-a", "jadard,jd9365da-h3";
		reg = <0>;

		reset-gpios = <&wsgpio 1 GPIO_ACTIVE_LOW>;
		vccio-supply = <&panel_iovcc>;
		vdd-supply = <&panel_avdd>;
		backlight = <&wsgpio>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	status = "okay";
};