// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include "talos-lyra-evk-som.dtsi"

/ {
	model = "Qualcomm QCS615 Talos Lyra EVK";
	compatible = "qcom,talos-lyra-evk", "qcom,talos-lyra-evk-som", "qcom,qcs615",
		     "qcom,sm6150";
	chassis-type = "embedded";

	dp0-connector {
		compatible = "dp-connector";
		label = "DP0";
		type = "full-size";

		hpd-gpios = <&tlmm 104 GPIO_ACTIVE_HIGH>;

		port {
			dp0_connector_in: endpoint {
				remote-endpoint = <&mdss_dp0_out>;
			};
		};
	};

};

&i2c5 {
	clock-frequency = <100000>;

	status = "okay";

	expander0: gpio@20 {
		compatible = "kinetic,kts1622", "ti,tcal6416";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander1: gpio@21 {
		compatible = "kinetic,kts1622", "ti,tcal6416";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander2: gpio@38 {
		compatible = "ti,tca9538";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
	};

	expander3: gpio@3c {
		compatible = "ti,tca9538";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&mdss {
	status = "okay";
};

&mdss_dp0 {
	status = "okay";
};

&mdss_dp0_out {
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000>;
	remote-endpoint = <&dp0_connector_in>;
};

&pcie_port0 {
	tc9563: pcie@0,0 {
		compatible = "pci1179,0623";
		reg = <0x10000 0x0 0x0 0x0 0x0>;
		#address-cells = <3>;
		#size-cells = <2>;
		#gpio-cells = <2>;
		device_type = "pci";
		ranges;
		bus-range = <0x2 0xff>;

		vddc-supply = <&vreg_0p9>;
		vdd18-supply = <&vreg_1p8>;
		vdd09-supply = <&vreg_0p9>;
		vddio1-supply = <&vreg_1p8>;
		vddio2-supply = <&vreg_1p8>;
		vddio18-supply = <&vreg_1p8>;

		i2c-parent = <&i2c5 0x77>;

		resx-gpios = <&tlmm 89 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&tc9563_resx_state>;
		pinctrl-names = "default";

		pcie@1,0 {
			reg = <0x20800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x3 0xff>;

			ep-pwr-en-gpio = <&tc9563 2 GPIO_ACTIVE_HIGH>;
			ep-reset-gpio = <&tc9563 5 GPIO_ACTIVE_HIGH>;
		};

		pcie@2,0 {
			reg = <0x21000 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x4 0xff>;

			ep-pwr-en-gpio = <&tc9563 4 GPIO_ACTIVE_HIGH>;
			ep-reset-gpio = <&tc9563 3 GPIO_ACTIVE_HIGH>;
		};

		pcie@3,0 {
			reg = <0x21800 0x0 0x0 0x0 0x0>;
			#address-cells = <3>;
			#size-cells = <2>;
			device_type = "pci";
			ranges;
			bus-range = <0x5 0xff>;

			pci@0,0 {
				reg = <0x50000 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};

			pci@0,1 {
				reg = <0x50100 0x0 0x0 0x0 0x0>;
				#address-cells = <3>;
				#size-cells = <2>;
				device_type = "pci";
				ranges;
			};
		};
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;

	status = "okay";
};

&spi6 {
	status = "okay";

	tpm@0 {
		compatible = "st,st33htpm-spi", "tcg,tpm_tis-spi";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};

&tlmm {
	pcie_default_state: pcie-default-state {
		clkreq-pins {
			pins = "gpio90";
			function = "pcie_clk_req";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio100";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	tc9563_resx_state: tc9563-resx-state {
		pins = "gpio89";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};

&usb_1_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_2 {
	dr_mode = "host";

	status = "okay";
};

&usb_2_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_qmpphy_2 {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};
