// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include "talos-lyra-som.dtsi"

/ {
	model = "Qualcomm QCS615 Talos lyra EVK";
	compatible = "qcom,talos-lyra-evk", "qcom,qcs615", "qcom,sm6150";
	chassis-type = "embedded";

	dp0-connector {
                compatible = "dp-connector";
                label = "DP0";
                type = "full-size";

                hpd-gpios = <&tlmm 104 GPIO_ACTIVE_HIGH>;

                port {
                        dp0_connector_in: endpoint {
                                remote-endpoint = <&mdss_dp0_out>;
                        };
                };
        };

	aliases {
		serial1 = &uart7;
	};

	vreg_keye_3p3: regulator-keye-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_keye_3p3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&expander3 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
	};

	wifi-bt-connector {
		compatible = "pcie-m2-e-connector";
		vpcie3v3-supply = <&vreg_keye_3p3>;

		w-disable1-gpios = <&tlmm 51 GPIO_ACTIVE_LOW>;
		w-disable2-gpios = <&tlmm 85 GPIO_ACTIVE_LOW>;

		pinctrl-0 = <&wcn_wlan_en>, <&wcn_bt_en>;
		pinctrl-names = "default";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_pcie_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&tc9563_pcie1_ep>;
				};
			};

			port@3 {
				reg = <3>;
				#address-cells = <1>;
				#size-cells = <0>;

				m2_e_uart_ep: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&uart7_ep>;
				};
			};
		};
	};
};

&mdss {
        status = "okay";
};

&mdss_dp0 {
        status = "okay";
};

&mdss_dp0_out {
        link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000>;
        remote-endpoint = <&dp0_connector_in>;
};

&i2c5 {
	status = "okay";

	expander0: gpio@20 {
		compatible = "kinetic,kts1622", "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
	};

	expander1: gpio@21 {
		compatible = "kinetic,kts1622", "nxp,pca9555";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
	};

	expander2: gpio@38 {
		compatible = "ti,tca9538";
		reg = <0x38>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
	};

	expander3: gpio@3c {
		compatible = "ti,tca9538";
		reg = <0x3c>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;

	status = "okay";
};

&tc9563_pcie1_ep {
	remote-endpoint = <&m2_e_pcie_ep>;
};

&tlmm {
	wcn_wlan_en: wcn-wlan-en-state {
		pins = "gpio51";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	wcn_bt_en: wcn-bt-en-state {
		pins = "gpio85";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&uart7 {
	status = "okay";
};

&uart7_ep {
	remote-endpoint = <&m2_e_uart_ep>;
};

&usb_1_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_qmpphy_2 {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};

&usb_2_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_2 {
	dr_mode = "host";

	status = "okay";
};
